@model IEnumerable<Certifac.Models.Addendas>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NombreAddenda)
        </th>
        <th>XML</th>
        @*<th>
                @Html.DisplayNameFor(model => model.XML)
            </th>*@
        <th>
            @Html.DisplayNameFor(model => model.FechaModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usuario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreAddenda)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.XML)
                </td>*@
            <td style="max-width: 200px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                @Html.DisplayFor(modelItem => item.XML)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaModificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.IdAddenda }) |
                @Html.ActionLink("Details", "Details", new { id = item.IdAddenda }) |
                <a href="javascript:void(0);" class="delete-link" data-id="@item.IdAddenda">Delete</a>
            </td>
        </tr>

    }

</table>
<script>
    $(document).ready(function () {
        $(".delete-link").click(function () {
            var id = $(this).data("id");
            if (confirm("¿Estás seguro de que deseas cambiar el estado?")) {
                $.ajax({
                    url: "/Home/CambiarEstado/" + id,
                    type: "POST",
                    success: function () {
                        // Actualizar la vista después de cambiar el estado
                        location.reload();
                    },
                    error: function () {
                        alert("Ha ocurrido un error al cambiar el estado.");
                    }
                });
            }
        });
    });
</script>

